<header class="masthead">
	 <div class="container d-flex h-100 align-items-center">
		 <div class="mx-auto text-center">
			 <h1 class="mx-auto my-0 text-uppercase"><%= link_to "DEBUCCO", products_path %></h1>
			 <h2 class="text-white-50 mx-auto mt-2 mb-5">Interior design ideas and furniture store</h2>
			 <!-- <a href="#about" class="btn btn-primary js-scroll-trigger">Get Started</a> -->
		 </div>
		 <!-- <div>
		   <%= render 'welcome/sign_in' %>
			 <%= render 'welcome/sign_up' %>
	 	 </div> -->
	 </div>
 </header>





