<table>
  <tr>
    <th>Product:</th>
    <th>Price:</th>
  </tr>
  <% @order.line_items.each do |line_item| %>
    <tr>
      <td><%= line_item.product.name %></td>
      <td><%= line_item.product.price %></td>
      <td><%= link_to 'Remove', line_item_path(line_item.id), method: :delete %></td>
    </tr>
  <% end %>
</table>

<%= link_to 'Back', products_path %>
