/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap-sprockets";
 @import "bootstrap";
// 

header.navbar {
	position: fixed;
	padding: 0,2;
}

.navbar-inverse {
	background-color: white;
	border-color: #222;
}

.navbar-brand {
  padding: 0;
}
	
.navbar-brand>img {
  margin-top: -30px;
  padding: 15px;
  width: 100px;
	height: 100px;
} 

li.nav-item {
	padding-right: 1rem;
}

#mainNav .nav-link {
	color: grey !important;
}
// TODO change the !important late

div.card-img-top.img-fluid {
	margin: 15%;
}

div.col-lg-3 {
	margin-top: 10%;
}

.d-block.img-fluid {
	height: 500px;
	width: 900px; 
}

div.d-block.img-fluid {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 65%;
	padding: 20px 0;
}

.carousel-control {
	width: auto;
}

div.carousel-caption {
	color: black;
}

.h-100 {
	padding: 50px;
}

h2.form {
  margin-top: 40px;
  text-align: center;
}

.form-group {
  margin-left: 25%;
  margin-top: 20px;
}

.maxWidth {
  max-width: 500px;
  margin-top: 200px;
  height: 400px;
  // background-color: grey;
  border: solid;
  border-color: #5e5d5b;
}

.btn-primary {
  background-color: #5e5d5b !important;
}

p.addmargin {
  margin-top: 40px;
}